<!-- <h1><%= @request.name %></h1>

<h2><%= @request.email %></h2>

<p><%= @request.department %></P>

<p><%= @request.message %></p>

<p><%= @request.created_at %></p> -->

<h1><%= @request.title %></h1>
<p><%= @request.body %></p>
<p>View Count: <%= @request.view_count %></p>

<%= link_to "Edit", edit_request_path(@request) %>
<%= link_to "Delete", request_path(@request),
                      method: :delete,
                      data: {confirm: "Are you sure?"} %>
